.wrapper {
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todoList {
  max-width: 46rem;
  margin: 4rem auto 0;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.tasksCreated, .tasksCompleted {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tasksCreated p {
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--blue);
  margin-left: 4px;
}

.tasksCompleted p {
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--purple);
}

.tasksCreated span, .tasksCompleted span {
  padding: 0.125rem 0.5rem;
  background: var(--gray-400);
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 999px;
}

.list {
  margin-top: 1.5rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.noChores {
  margin-top: 4rem;
}

.noChores img {
  margin-bottom: 1rem;
}

.noChores p{
  color: var(--gray-300);
  font-size: 1rem;
  line-height: 140%;
  font-weight: 700;
}

.noChores p ~ p  {
  font-weight: 400;
}
